@import "variables";

.page_list_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    h1 {
        font: 500 2.8rem/3.2rem $roboto-font;
        color: $textColor;
        margin-bottom: 6.4rem;
    }

    .page_list_content {
        padding: 5.2rem 6.3rem;
        flex-basis: 100%;
        overflow: hidden;
        position: relative;

        .loading {
            width: 100%;
            height: calc(100% - 24.2rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .characters_wrapper {
            overflow-y: auto;
            height: calc(100% - 24.2rem);

            .characters_list {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 4rem
            }
        }


    }

    .sidenav {
        border-left: 0.1rem solid $borderColor;
        flex-basis: 39.3rem;
        overflow: hidden;

        h2 {
            margin: 0;
            font: 400 2.4rem/3.2rem $roboto-font;
            color: $textColor;
            padding: 5.2rem 0 0 3.3rem;
        }
    }
}

.character {
    flex: 10.6rem 0 0;
    border-bottom: 0.1rem solid $borderColor;
    display: flex;
    flex-direction: column;

    header {
        flex: 1 0 0;
        display: flex;
        flex-direction: row;

        h2 {
            font: 500 2rem/2.3rem $roboto-font;
            color: $textColor;
            padding-right: 2.3rem;
        }

        button {
            height: 2.3rem;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    main {
        flex: 1 0 0;
        display: flex;
        flex-direction: row;
        font: 400 1.6rem/2.4rem $roboto-font;
        color: $textColor;
        gap: 5rem;
        padding-right: 25vw;

        .gender,
        .species {
            display: flex;
            flex-direction: row;
            flex: 1 0 0;

            .label {
                flex: 2 0 0;
            }

            .value {
                color: $mainBlue;
                flex: 3 0 0;
            }
        }
    }
}

.pagination {
    position: fixed;
    bottom: 15%;
    left: 6.4rem;
    display: flex;
    flex-direction: row;

    .page {
        font: 500 1.6rem/3.2rem $roboto-font;
        color: $mainBlack;
        padding: 0 1.8rem;
    }

    .btn_prev,
    .btn_next {
        cursor: pointer;
        width: 2.4rem;
        height: auto;

        &:hover {
            transform: scale(1.1);

            path {
                fill: $caretColor
            }
        }


        &:active {
            transform: scale(0.9);
        }

        &.not_active {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

@media all and (max-height: 85rem) {

    .characters_wrapper,
    .loading {
        height: calc(100% - 25vh) !important;

    }

    .pagination {
        bottom: 10% !important;
    }
}