// $back-rate: #FFF1AA;
// $back-rate-hover: #FFDB3C;
// $black-color: #202020;
// $gray-color: #555;
// $white-color: #fff;
$roboto-font: 'Roboto',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$redLight: #FD4B4BA8;
$red: #f45725;
$backError: #feeae5;