$roboto-font: 'Roboto',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$redLight: #FD4B4BA8;
$red: #f45725;
$backError: #feeae5;
$mainBlue: #2962FF;
$caretColor: #347CFF;
$mainBlack: #000;
$mainWhite: #fff;
$gray: #9b9fab;
$borderColor: #A5A5A5;
$textColor: #000000de;
$placeholderColor: #00000066;
$borderColor2: #0000004d;